
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');
:root {
    --primary-color: #0085ba;
    --secondary-color:#198e00;
    --bg-color:#333;
    --text-color:#fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #222;
    color: #999;
}
main{
    background-color: var(--bg-color);

}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    background:url('../img/bg-header.jpg') no-repeat center center/cover;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .6);
    box-shadow: inset 320px 100px 250px #000, inset -320px -100px 250px #000;
}

.showcase-top {
    position: relative;
    z-index: 2;
    height: 90px;
}

 .showcase-content span  {
    color: var(--primary-color);
}
 .showcase-content h1  {
    color: var(--text-color);
}

.showcase-top img {
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.showcase-top a {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.showcase-content {
    z-index: 4;
    position: relative;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.showcase-content h1 {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.25;
    margin: 0 0 2rem;

}

.showcase-content p {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
}

.tabs {
    background: var(--dark-color);
    padding: 1rem;
    border-bottom: 3px solid #3d3d3d;

}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabs p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.tabs .container>div {
    padding: 1.5rem 0;
}

.tabs .container>div:hover {
    color: #fff;
    cursor: pointer;
}

.tab-border {
    border-bottom: var(--primary-color) 4px solid;
}

.subjects-tab {
    margin-top: 1rem;
    color: #fff;
    padding: 3rem 2rem;
}

.subjects-tab .tab-content-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
}

.tab-content-item .subjects:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;

}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
}

btn:hover {
    opacity: 5px;
}

.btn-rounded {
    border-radius: 5px;
    word-spacing: 1px;
}

.btn-xl {
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

.btn-lg {
    font-size: 1rem;

}
/*footer*/
.footer{
    max-width: 75%;
    margin: 1rem auto;
    overflow: auto;
}
.footer p {
    text-align: center;
    font-size: 1.5rem;
}
.footer span {
    color: var(--primary-color);
}
.footer-cols a {
    color: var(--text-color);
}
.footer-cols a:hover {
    color: var(--primary-color);
}
.footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1em;
    margin-top: 1rem;
}
   footer{
   border-top: var(--primary-color) 0.2rem solid;
}

.social-icons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icons .fab{
    color: var(--primary-color);
}


/*tablet-view*/
@media (max-width: 960px) {

    .showacase{
        height: 70vh;
    }
    .showcase-top img{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .showcase-content h1 {
        font-size: 2rem;
        line-height: 0.8rem;
    }
    .tabs .container {
    grid-template-columns:  1fr;
   
}
.subjects-tab .tab-content-item {
    grid-template-columns: repeat(2, 1fr);
  
}
.btn-rounded{
    display: none;
}

    .footer .footer-cols{
        

    }
     .showcase-content span  {
    color: var(--primary-color);

}
 .showcase-content h1  {
    color: var(--text-color);
    font-size: .8rem;
}
}